<div class="container">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">
        <%= @current_user.username %>
      </h1>
    </div>

    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-3">
          Private
        </dt>
        <dd class="col-sm-9">
          <%= @current_user.private %>
        </dd>

        <dt class="col-sm-3">
          Followers
        </dt>
        <dd class="col-sm-9">
          <%= @current_user.receivedfollowrequests.count %>
        </dd>

        <dt class="col-sm-3">
          Following
        </dt>
        <dd class="col-sm-9">
          <%= @current_user.sentfollowrequests.count %>
        </dd>
      </dl>

      <nav>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="/users/<%= @current_user.username %>">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/<%= @current_user.username %>/liked_photos">Liked photos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/<%= @current_user.username %>/feed">Feed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/<%= @current_user.username %>/discover">Discover</a>
          </li>
        </ul>
      </nav>



<div class="container my-5">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Liked photos (<%= @current_user.likes.count %>)</h2>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Image</th>
              <th>Caption</th>
              <th>Owner</th>
              <th>Posted</th>
              <th>Likes</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @current_user.likes.each do |a_like| %>
            <tr>
              <td>
                <img src="<%= a_like.photo.image %>" class="img-fluid">
              </td>
              <td><%= a_like.photo.caption %></td>
              <td><%= a_like.photo.owner.username %></td>
              <td><%= time_ago_in_words(a_like.photo.created_at) %> ago</td>
              <td><%= a_like.photo.likes_count %></td>
              <td>
                <% if @current_user != nil %>
                <a href="/photos/<%= a_like.photo.id %>">
                  Show details
                </a>
                <% else %>
                <a href="/user_sign_in">
                  Show details
                </a>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
