<div class="card">
  <div class="card-header">
    <h1>List of photos</h1>
  </div>
  <div class="card-body">
    <% if @current_user != nil %>
      <form action="/insert_photo" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="image">Image</label>
          <input id="image" type="file" class="form-control-file" name="image" placeholder="Enter a URL for the image...">
        </div>
        <div class="form-group">
          <label for="caption_box">Caption</label>
          <textarea id="caption_box" class="form-control" name="query_caption" rows="3" placeholder="Enter a caption for the photo..."></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add photo</button>
      </form>
    <% end %>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h1 class="card-title">List of photos</h1>
  </div>
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Image</th>
          <th>Caption</th>
          <th>Owner</th>
          <th>Posted</th>
          <th>Likes</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @list_of_photos.each do |a_photo| %>
        <tr>
          <% if a_photo.owner.private == false %>
          <td>
            <img src="<%= a_photo.image %>" class="img-responsive">
          </td>

          <td>
            <%= a_photo.caption %>
          </td>

          <td>
            <%= a_photo.owner.username %>
          </td>

          <td>
            <%= time_ago_in_words(a_photo.created_at) %> ago
          </td>
          <td>
            <%= a_photo.likes_count %>
          </td>

          <% if @current_user == nil %>
          <td>
            <a href="/user_sign_in">Show details</a>
          </td>
          <% else %>
          <td>
            <a href="/photos/<%= a_photo.id %>">Show details</a>
          </td>
          <% end %>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
