    <h1>alice</h1>

<dl>
  <dt>Private</dt>
  <dd>true</dd>

  <dt>Followers</dt>
  <dd>
    4

    </div>

      <h4>Pending follow requests</h4>

      <ul>
          <li>
            drew

            <form action="/modify_follow_request/1815" method="post">
              <input name="query_status" value="accepted" type="hidden">

              <button>
                Accept
              </button>
            </form>

            <form action="/modify_follow_request/1815" method="post">
              <input name="query_status" value="rejected" type="hidden">
            
              <button>
                Reject
              </button>
            </form>
          </li>
          
  </dd>

  <dt>Following</dt>
  <dd><%= @current_user.recipient_id %></dd>

  <dt>Edit user</dt>
  <dd>
    <form action="/modify_user/<%= @current_user.id %>" method="post">
      <label for="browser_username">Username</label>
      <input id="browser_username" type="text" name="query_username" placeholder="Enter a username..."
        value="<%= @current_user.username %>">

      <label for="browser_private">Private?</label>
      <input id="browser_private" type="checkbox" name="query_private"  checked>

      <button>Update user</button>
    </form>
  </dd>
</dl>

<nav>
  <ul>
    <li>
      <a href="/users/<%= @current_user.username %>">Profile</a>
    </li>
    <li>
      <a href="/users/<%= @current_user.username %>/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/<%= @current_user.username %>/feed">Feed</a>
    </li>
    <li>
      <a href="/users/<%= @current_user.username %>/discover">Discover</a>
    </li>
  </ul>
</nav>

<h2>Own photos (19)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
      Likes
    </th>

    <th></th>
  </tr>

  <tr>
    <td>
      <img src="https://robohash.org/magniveniamvero">
    </td>

    <td>
      alice
    </td>

    <td>
      Knowledge could be more valuable than gold, more deadly than a dagger.
    </td>

    <td>
      over 4 years ago
    </td>

    <td>
      9
    </td>

    <td>
      <a href="/photos/730">
        Show details
      </a>
    </td>
  </tr>
  